.modal-add_product {
    position: fixed;
    top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    p {
        text-align: center;
        width: 30%;
        color: white;
        background-color: #000000de;
        padding: 1rem;
        border-radius: 20px;
    }
}